# See https://help.github.com/ignore-files/ for more about ignoring files.

application.properties.dev

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*
